<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Notification</title>
</head>
<body>
    <h1>SDK Expired Licenses</h1>
    <p>This is an update regarding the expired licenses of some clients.</p>
    <p>The expiration date corresponds to {{ expiration_date }}.</p>
    <p>The list of client email addresses is as follows:</p>
    <p>Licenses which expire on '{{ four_months_date }}': 
        <ul>
            <li>
            {% for license in four_months_licenses %}
                <span>POC Contact Name: {{ license.poc_contact_name }} </span>
                <span>POC Contact Email: {{ license.poc_contact_email }} </span>
                <span>License ID: {{ license.id }} </span>
                <span>License type: {{ license.type }} </span>
                <span>Pacakge name: {{ license.package_name }}</span>
            {% endfor %}
            </li>
        </ul>
    </p>
    <p>Licenses which expire on '{{ one_month_date }}': 
        <ul>
            <li>
            {% for license in one_month_licenses %}
                <span>POC Contact Name: {{ license.poc_contact_name }} </span>
                <span>POC Contact Email: {{ license.poc_contact_email }} </span>
                <span>License ID: {{ license.id }} </span>
                <span>License type: {{ license.type }} </span>
                <span>Pacakge name: {{ license.package_name }}</span>
            {% endfor %}
            </li>
        </ul>
    </p>
    <p>Licenses which expire on '{{ one_week_date }}': 
        <ul>
            <li>
            {% for license in four_one_week_licenses %}
                <span>POC Contact Name: {{ license.poc_contact_name }} </span>
                <span>POC Contact Email: {{ license.poc_contact_email }} </span>
                <span>License ID: {{ license.id }} </span>
                <span>License type: {{ license.type }} </span>
                <span>Pacakge name: {{ license.package_name }}</span>
            {% endfor %}
            </li>
        </ul>
    </p>
    <p>Please take appropriate action to renew your license.</p>
    <p>Thank you!</p>
</body>
</html>
